* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  height: 5em;
  align-items: center;
  padding: 0 5vw;
  gap: 10vw;

}

header img {
  max-height: 100%;
}

header nav {
  width: 100%
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.banner {
  background-color: #495E57;
  padding: 3vw;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
}

.banner-image {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

button {
  padding: 1em 2em;
  background-color: #F4CE14;
  color: #495E57;
  border: none;
  font-size: 1.2em;
  margin: 1em 0;
  transition: 300ms;
  border-radius: 16px;
}

button:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.specials {
  max-width: 100vw;
  margin: 3em;
  display: grid;
  gap: 3vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.special .img-holder {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.special img {
  width: 100%;
}

.special .text {
  padding: 1em 0;
}

.reviews {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
}

main>h1 {
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30%;
  background-color: rgb(241, 241, 241);
  padding: 2em;
  border-radius: 16px;
}

.review>h2 {
  color: #495E57;
}

footer {
  width: 100vw;
  background-color: #495E57;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5em 10vw;
  color: white;
}

footer img {
  height: 120px;
}

footer>div {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.booking-form {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #495E57;
  margin: 1em;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.514);
  top: 50%;
  color: white;
  padding: 2em;
}

.booking-form>h2 {
  text-align: center;
}

.booking-form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  border: none;
}

.booking-form input {
  width: 100%;
  padding: 1em;
}

.booking-form select {
  width: 100%;
  padding: 1em;
}

.booking-form > form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.booking-form.closed {
  display: none;
}

